header{
    background-color: #F1F3FF;
    height: 80px;
}

.area-navbar ul {
    padding-top: 20px;
    text-align: end;
    justify-content: space-between;
    color: black;
    font-family: Helvetica;
    font-size: 14px; 
}

.area-navbar ul li{
    display: inline;
    list-style: none;
    margin: 0 20px;
}

.btn, .btn:hover{
    background-color:#5CB85F !important;
    border-color: #5CB85F !important;
}

main{
    font-family: helvetica;
}

.Hero-Section{
    background-color: #F1F3FF;
    height: 300px;
}

.text-area{
    padding-top: 40px;  
    padding-left: 150px !important; 
    padding-right: 50px ;
}

.image-area{
    padding-right: 0 !important;  
}

.our-services{
    padding-top: 80px;
}

.text1-area{
    padding-top: 40px;
    padding-left: 120px !important;
    padding-right: 120px !important;
    justify-content: left;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 26px !important;
}

p{
    font-size: 16px;
}

